@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #DAFDBA, #9AEBA3, #45C4B0, #13678A, #012030);
}

main {
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #012030;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #012030;
    text-align: center;
    text-shadow: 1px 1px 2px #042e43;
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}